kbd {
    border: 1px solid red;
    width: 4em;
    height: 4em;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

kbd > button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

kbd:hover > button {
    display: inline-block;
}

main {
    text-align: center;
}

#main {
    display: inline-block;
}
